//Positioning
$gutter: 20px;
$vertical-padding: 3rem;
$bottom-margin: $typecsset-magic-number;

$border-radius: 6px;

//Colors
$black: #222;
$gray: #999;
$red: #d3222a;
$dark-red: #AA222a;

//Fonts
$sans-serif: Verdana, Arial, sans-serif;
$title: 32px;
$header: 24px;
$subheader: 20px;
$base-font-size: 14px;